header{
	min-width: 100%;
	max-width: 1%;
	max-height: 35%;
	border: 1px solid #D3D3D3;
	border-radius: 15px;
	background: -moz-linear-gradient(top,  #c7cccf 8%, #c7cccf 8%, #c7cccf 20%, #d3d8db 55%, #e0e3e6 69%, #e0e3e6 69%, #e2e5e6 79%, #e2e5e6 79%, #e2e5e6 81%, #e0e3e6 89%);
	background: -webkit-linear-gradient(top,  #c7cccf 8%,#c7cccf 8%,#c7cccf 20%,#d3d8db 55%,#e0e3e6 69%,#e0e3e6 69%,#e2e5e6 79%,#e2e5e6 79%,#e2e5e6 81%,#e0e3e6 89%);
	background: linear-gradient(to bottom,  #c7cccf 8%,#c7cccf 8%,#c7cccf 20%,#d3d8db 55%,#e0e3e6 69%,#e0e3e6 69%,#e2e5e6 79%,#e2e5e6 79%,#e2e5e6 81%,#e0e3e6 89%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7cccf', endColorstr='#e0e3e6',GradientType=0 );
	font-family: Tahoma, "Helvetica Neue", Helvetica, sans-serif;
	position: relative;

}	